
.sub_head{
	width:360px;
	height: 32px;
	background-color: rgb(182, 10, 167);
}
.back{
	width:30px;
	height:30px;
	margin-top: 2px;
	margin-left: 10px;

}
span .b
{
	width: 5px;
	height: 20px;
}
.pin{
	margin-left:80px;
	margin-top: -32px;
}
.sub_head_text
{
	margin-left: 105px;
	margin-top:-41px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.time_left{
	margin-top: 5px;
	width:360px;
	height: 53px;
	border-radius: 7px;
	background-color: #151719de;
	color:white;
}
.time
{
	float:left;
padding:18px;
}
.value
{
	float:right;
	padding:18px;
}
.p_pic{
	float:left;
width:35px;
margin:-5px;
margin-left:35px;
height:35px;
border-radius: 100%;
border:1px solid darkblue;
}
.side_text{
	float:right;
	margin-right:160px;
}
.Location{
	margin-left:80px;
	border-radius: 5px;
	width:10px;
	height:110px;
	background-color: rgb(190, 52, 190);
}
.dot1 {
  height: 5px;
	width: 5px;
	margin-top:18px;
	margin-left:1px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
#l_pin{
	border:none;
	margin-top:-35px;
	margin-left:40px;
}
.dot2{
	height: 5px;
	width: 5px;
	margin-top:80px;
	margin-left:-3px;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
	background-color:white;
}
.shop_text{
	float:right;
	margin-right:130px;
	margin-top:-17px;
}
pre{
	margin-top:-5px;
	margin-left:10px;
	font-family: 'Times New Roman', Times, serif
}
#L2{
	height:160px;
	background-color: cornflowerblue
}
.dot3{
	height: 5px;
	width: 5px;
	margin-top:145px;
	margin-left:-3px;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
	background-color:white;	
}
.rupee_img{
	margin-left:66px;
	margin-top:3px;
	border-radius:100%;
	padding: 5px;
	background-color: rgb(250, 179, 229);
	width:25px;
	height:25px;
}

.drop_text
{
	margin-top:-45px;
	margin-left:110px;
}
.dest_text{
	margin-top:0px;
	margin-left:110px;
	opacity: 0.5;
	font-size: 15px;
	font-style: initial;
}
.call_user{
margin-left:-0px;
width:360px;
height:60px;
background-color: rgba(180, 183, 189, 0.959);
}
.photo{
	width:40px;
	height:40px;
	margin:10px;
	margin-left:35px;
	border-radius:20%;
}
.phone{
	float:right;
	margin-right:35px;
	margin-top:13px;

}
.footer{
	background-color:rgb(92, 9, 109);
	width:360px;
	height:25px;
	margin-left:0px;
	margin-top:8px;
}
.line{
	position: fixed;
	top:585px;
	left:90px;
	margin:auto;
	width:140px;
	height:2px;
	background-color: white;
}
.name{
	position:fixed;
margin-left:100px;
margin-top:-70px;	
font-family: 'Times New Roman', Times, serif ;
}






/*order.html file css */

.l_pin{
	width:20px;
	height:20px;
	margin:5px;
}
.D_text{
	float:right;
	margin-top:8px;
	margin-right:90px;
	font-family: Arial, Helvetica, sans-serif;

}

.container{
	margin-top:-13px;
	width:360px;
	height:150px;
	border-radius:10px;
	background-color: rgb(206, 204, 204);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pick_up{
	background-color: chartreuse;
	width:290px;
	height:30px;
	border-top-left-radius: 10px;
	font-family:Arial, Helvetica, sans-serif;
}

.pick_up p{
	position: relative;
	top:6px;
	left:10px;
}
.item{
	border-top-right-radius: 10px;
	width:70px;
	height:30px;
	position: relative;
	top:-45px;
	left:290px;
	background-color: rgb(240, 20, 240);

}
.item p{
	position: relative;
	top:5px;
	left:4px;
	font-family: Arial, Helvetica, sans-serif;
}
.eye{
	float:right;
	position: relative;
	top:-29px;
	right:7px;
}
.drop{
	background-color: rgb(75, 72, 72);
	width:360px;
	position: relative;
	margin-left:0px;
	
	top:-45px
}
.drop p{
	color:white;
	position: absolute;
	margin: 0%;
	padding: 0%;
	padding-left:10px;
	background-color: #151719;
	width:350px;
}
.rupee{
	width:60px;
	height:60px;
	border-radius:100%;
	background-color:rgb(170, 29, 29);
	position: relative;
top:-15px;
left:290px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pisa{
	width:30px;
	height:30px;
	position: relative;
	top:8px;
	left:15px;
}
.rupee p{
	margin-left: 23px;
	margin-top:2px;
	color:whitesmoke;
	font-size:18px;
}

.container button{
	width:100px;
	position: relative;
	top:-20px;
	left:130px;
	border-radius: 10px;
	background-color: blue;
	height:30px;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




/*Wallet.html*/



#wallet_text{
	margin-left:140px;
	margin-top:-52px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.apka_text{
	padding-left: 8px;
	margin-top:10px;
	font-size: 18px;
	color:rgb(182, 10, 167)
}

.wallet_img{
	width: 30px;
	height: 30px;
	margin: -5px 5px;
	
}
#mod{
	border:1px solid black;
	font-size: 18px;
	width:85px;
	height:27px;
	margin:-30px 55px;
	text-align: center;

}
#mod p{
	margin-top:5px;
}

.but{
	height:30px;
	margin:3px;
	padding: 10px;
	background-color: rgb(0, 225, 255);
	width:150px;
	position: relative;
	top:-15px;
	left:200px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.but p{
	margin:-3px;
}

.statements{
	margin-left:5px;
	margin-bottom: 5px;
	opacity: 0.5;

}

.stm{
	background-color: rgb(255, 231, 255);
}
#date p{
	height:25px;
	margin:0;
	margin-bottom:-5px;
	margin-left: 5px;
}
.inner{
	background-color: white;
	margin:2px 2px ;
	height:80px;
}
.i{
	width:35px;
	height:35px;
	position: relative;
	top:15px;
	left:2px;
}
#text{
	position: relative;
	top:-47px;
	left:60px;
}
#amount_d{
	position: relative;
	top:-80px;
	float: right;
	margin-right:10px;
}
#amount_c{
	position: relative;
	top:-80px;
	float: right;
	margin-right:10px;
	color: green;
}
#time{
	position: relative;
	top:-50px;
	left:60px;
}



/*--------------------------------------------------index.html--------------------------------------------- */
.ghanta{
	margin-left: 220px;
	margin-top:13px;
	width:20px;

}
#head_index{
	height:90px;
}
.search_box{
background-color:white;
height:30px;
margin-top:4px;
margin-left:15px;
width:300px;
}

.search_img
{
margin: 8px;
width:15px;
height:15px;
}
#input_search{
	width:240px;
	position: relative;
	top:-10px;
	left:-5px;
	
	border:none;
}

.help{
	position: relative;
	top:-5px;
	width:20px;
	height:20px;
	left:30px;

}


.radio_slide{
	height:20px;
	background-color:rgb(141, 4, 196);
	padding:7px;
}

/* slider w3 */



.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 17px;
  }
  
  
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 0px;
	bottom: 0px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: rgb(243, 33, 79);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  .out_of_stock{
	  margin-top:-18px;
	  margin-left:45px;
	  padding-bottom: 0px;  
	  color:white;
	  font-size: 12px;
  }

.clear{
	float:right;
	margin-top:-14px;
	margin-right:5px;
	color:white;
	font-size: 12px;
}



/* acordion */


.accordion {
	background-color: #eee;
	height:20px;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
  .active, .accordion:hover {
	background-color:rgb(228, 86, 86);
  }
  
  .accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  #inner{
	box-shadow: 0 4px 8px 0 rgba(22, 22, 22, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	  width:90px;
	  height:100px;
	  margin:5px;
	  float:left;
  }

  .about_i{
	  width:12px;
	  height:12px;
	  text-align: center;
	  margin:0px;
	  color: burlywood;
	  border:1px solid black;
	  font-size:12px;
  }
  .product_img img{
	 width:40px;
	 height:40px;
	 margin-left:25px;
	 margin-top:-10px;
  }
  .p_check{
	 
	 float:right; 
	 margin-top:-48px;
  }

.p_name{
	margin-left: 35%;
	position: relative;
	top:-5px;
	font-size: 12px;
}
 
.form_group{
	height: 30px;
	background: red;
	
}























.foot{
	  position: absolute;
	top: 580px;
	width:358px;
	height:50px;
	border:1px solid black;

  }
  .sub_foot{
	  width:25%;
	  height:50px;
	    position: relative;
	  float:left;
	  font-size:13px; 

  }
  .sub_foot:hover{
	  background-color: rgb(255, 96, 123);
  }
  .sub_foot p{
	 
	  margin-top:-2px;
	  margin-left:2px;
  }

  .sub_foot img{
	  width:35px;
	  padding-left: 25%;
  }








  /*m.login.html ---------------------------------------*/



  .ico{
	  float:right;
	  margin-top:-50px;
	  margin-right:10px;
  }
  #m_search_box{
	  width:95%;
	  margin-left: 8px;
  }



  #Login{
   
    margin: 20px;
    height: auto;
    border:1px solid gray;
	border-radius: 5px 5px 0 0 ;
	padding:10px;
	box-shadow: 0px 8px 16px 0px rgba(117, 115, 115, 0.781);
}

#Login h3{
    padding: 5px;
    margin: 0px;
}
/*login --------------or----------------------*/
  
  .container_or {
    max-width: 50%;
    margin: 40px auto;
  }
  
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
  

 /*  */
 .tabcontent{
 	height: auto;
 }

 .tabcontent input{
    
     margin-left:10px auto;
     margin-top:10px;
     padding: 5px;
     border-radius: 5px;
     border:1px solid black;
     

 }


#submit_button{
    width:60px;
    color: white;
    background: blue;
    border-radius:20%;

}
.social_pic img{
    position: relative;
    left:32%;
    float:left;
    width:25px;
    height:25px;
    border-radius: 80%;
    margin:5px;
    
}
#i_u{
	width:210px;
	margin-left:-10px;
	border-left: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.country_code{
	
	padding: 5px;
	margin-left:5px;
	margin-top: 10px;
	width:30px;
	height:17px;
	float:left;
	border-right:1.2px solid black;
	border-left:0.4px solid black;
	border-top:0.4px solid black;
	border-bottom: 0.4px solid black;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	font-weight: 800;
}






/*m.signup.html-------------------------------------*/

.signup_link a{
    color:red;
    text-decoration: underline;
}

#i_name{
	width:55%;
	margin-right:10px; 
}
#i_last{
	width:25%;

}

/*new design*/

