*{
    margin: 0;
    padding: 0;
    font-family:'candara',sans-serif;
}

.thumb {
  text-align: center;
  width: 360px;
  height: 267px;
  display: inline-block;
  padding: 100px 100px;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*for auto image slider*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
 figure { 
  margin: 0;
  background: #101010;
  font-family:sans-serif;
  font-weight: 100;
}
div#home_main_under_swiper { 
  width: 100%;
  overflow: hidden;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
figure.home_main_under_swiper_body { 
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 10s slidy infinite; 
}
figure.home_main_under_swiper_body figure { 
  width: 20%; height: 170px;
  display: inline-block; 
  position: inherit; 
}
figure.home_main_under_swiper_body img { 
  height: 100%;
  width: 100%; 
}
figure.home_main_under_swiper_body figure figcaption { 
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff;
  width: 100%;
  font-size: 1.6rem;
  padding: .1rem; 
}

/*for all shops swiper*/
.swiper-container.home_all_shops{
    height: 230px;
    width: 99.2%;
    margin: 6% .4%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.swiper-shops-head{
  height: 15%;
  width: 100%;
  box-shadow: 5px 3px 20px #CBACEB;
  border-radius: 6px;
}

.swiper-shops-head-name{
  width: auto;
  height:auto;
  font-size: 18px;
  float:left;
  padding: 1%;
  font-weight: bold;
  margin-left: 3%;
  margin-top: .5%;
  color: blue;
}
.swiper-shops-head-content{
  background-color: lightblue;
  float: right;
  font-weight: bold;
  margin-right: 3.5%;
  width: auto;
  margin-top: 1.5%;
  font-size: 17px;
  height: auto;
  padding: .5% 2%;
  border-radius: 7px;
}

.swiper-slide{
  padding: .8%;
    margin-top: 5px;
    text-align: center;
    width: 200px;
}

.swiper-slide a{
  text-decoration: none;
  color: black;
}
.swiper-slide a:hover{

}
.home_shops_image{
  height: 60%;
  width: 100%;
  margin-top: 5%;
}
.home_shops_image img{
  width: 100%;
  height: 100%;
  border-radius: 147px 151px 69px 66px;
-moz-border-radius: 147px 151px 69px 66px;
-webkit-border-radius: 147px 151px 69px 66px;
border: 0px solid #000000;
}
.home_shops_name{
  height: auto;
  padding:2%;
  font-weight: bold;
  font-size: 90%;
}

/*for trending product*/
.swiper-container.home_all_trendprod{
  height: 240px;
    width: 99.2%;
    margin: 8% .4%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.home_trendprod_image{
  height: 45%;
  width: 70%;
  margin-left: 15%;
}
.home_trendprod_image img{
  width: 100%;
  height: 100%;
border: 0px solid #000000;
}
.home_trendprod_name{
  height: auto;
  padding:5%;
  font-weight: bold;
  font-size: 100%;
}
.home_trendprod_price{
  height: auto;
  padding:1%;
  color: blue;
  font-weight: bold;
  font-size: 100%;
}

/*for slider animation*/
#home_poster_slider {
  background: white;
  height: 200px;
  width: 100%;
  margin-top: .5%;
  margin-bottom: 5%;
  overflow: visible;
  position: relative;
}

#home_poster_slider_body {
  overflow: hidden;
  height: 200px;
  width: 100%;
}

#home_poster_slider_body img {
  width: 100%;
  height: 100%;
}

#home_poster_slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

#home_poster_slider li {
  width: 100%;
  height: 300px;
  position: absolute;
  top: -325px;
  list-style: none;
}

#home_poster_slider li.firstanimation {
  -moz-animation: cycle 30s linear infinite;
  -webkit-animation: cycle 30s linear infinite;
}

#home_poster_slider li.secondanimation {
  -moz-animation: cycletwo 30s linear infinite;
  -webkit-animation: cycletwo 30s linear infinite;
}

#home_poster_slider li.thirdanimation {
  -moz-animation: cyclethree 30s linear infinite;
  -webkit-animation: cyclethree 30s linear infinite;
}

#home_poster_slider li.fourthanimation {
  -moz-animation:cyclefour 30s linear infinite;
  -webkit-animation:cyclefour 30s linear infinite;    
}
#home_poster_slider li.fifthanimation {
  -moz-animation:cyclefive 30s linear infinite;
  -webkit-animation:cyclefive 30s linear infinite;    
}

#home_poster_slider:hover li,
#home_poster_slider:hover .home_poster_slider_progress {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}


/* PROGRESS BAR */

.home_poster_slider_progress {
  position: relative;
  top: -5px;
  width: 100%;
  height: 5px;
  background: green;
  -moz-animation: fullexpand 30s ease-out infinite;
  -webkit-animation: fullexpand 30s ease-out infinite;
}


/* ANIMATION */
@-moz-keyframes cycle {
  0%  { top:0px; }
  4%  { top:0px; } 
  16% { top:0px; opacity:1; z-index:0; } 
  20% { top:325px; opacity:0; z-index:0; } 
  21% { top:-325px; opacity:0; z-index:-1; }
  92% { top:-325px; opacity:0; z-index:0; }
  96% { top:-325px; opacity:0; }
  100%{ top:0px; opacity:1; }
  
}
@-moz-keyframes cycletwo {
  0%  { top:-325px; opacity:0; }
  16% { top:-325px; opacity:0; }
  20% { top:0px; opacity:1; }
  24% { top:0px; opacity:1; } 
  36% { top:0px; opacity:1; z-index:0; } 
  40% { top:325px; opacity:0; z-index:0; }
  41% { top:-325px; opacity:0; z-index:-1; } 
  100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclethree {
  0%  { top:-325px; opacity:0; }
  36% { top:-325px; opacity:0; }
  40% { top:0px; opacity:1; }
  44% { top:0px; opacity:1; } 
  56% { top:0px; opacity:1; } 
  60% { top:325px; opacity:0; z-index:0; }
  61% { top:-325px; opacity:0; z-index:-1; } 
  100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefour {
  0%  { top:-325px; opacity:0; }
  56% { top:-325px; opacity:0; }
  60% { top:0px; opacity:1; }
  64% { top:0px; opacity:1; }
  76% { top:0px; opacity:1; z-index:0; }
  80% { top:325px; opacity:0; z-index:0; }
  81% { top:-325px; opacity:0; z-index:-1; }
  100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefive {
  0%  { top:-325px; opacity:0; }
  76% { top:-325px; opacity:0; }
  80% { top:0px; opacity:1; }
  84% { top:0px; opacity:1; }
  96% { top:0px; opacity:1; z-index:0; }
  100%{ top:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
  0%  { top:0px; }
  4%  { top:0px; }
  16% { top:0px; opacity:1; z-index:0; } 
  20% { top:325px; opacity:0; z-index:0; }
  21% { top:-325px; opacity:0; z-index:-1; }
  50% { top:-325px; opacity:0; z-index:-1; }
  92% { top:-325px; opacity:0; z-index:0; }
  96% { top:-325px; opacity:0; }
  100%{ top:0px; opacity:1; }
  
}
@-webkit-keyframes cycletwo {
  0%  { top:-325px; opacity:0; }
  16% { top:-325px; opacity:0; }
  20% { top:0px; opacity:1; }
  24% { top:0px; opacity:1; } 
  36% { top:0px; opacity:1; z-index:0; } 
  40% { top:325px; opacity:0; z-index:0; }
  41% { top:-325px; opacity:0; z-index:-1; }  
  100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclethree {
  0%  { top:-325px; opacity:0; }
  36% { top:-325px; opacity:0; }
  40% { top:0px; opacity:1; }
  44% { top:0px; opacity:1; } 
  56% { top:0px; opacity:1; z-index:0; } 
  60% { top:325px; opacity:0; z-index:0; } 
  61% { top:-325px; opacity:0; z-index:-1; }
  100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefour {
  0%  { top:-325px; opacity:0; }
  56% { top:-325px; opacity:0; }
  60% { top:0px; opacity:1; }
  64% { top:0px; opacity:1; }
  76% { top:0px; opacity:1; z-index:0; }
  80% { top:325px; opacity:0; z-index:0; }
  81% { top:-325px; opacity:0; z-index:-1; }
  100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefive {
  0%  { top:-325px; opacity:0; }
  76% { top:-325px; opacity:0; }
  80% { top:0px; opacity:1; }
  84% { top:0px; opacity:1; }
  96% { top:0px; opacity:1; z-index:0; }
  100%{ top:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; } 
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
   16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
   17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
   18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; } 
}

/* category */
.home_main_category{
    height: 230px;
    width: 98%;
    margin: 1%;
    margin-bottom: 2%;
  }
.home_category_head{
  height: 20%;
  width: 100%;
  border-radius: 6px;

}
.home_main_center{
  width: auto;
  height:auto;
  font-size: 25px;
  font-weight: bold;
  float:center;
  padding: 3%;
  text-align: center;
  margin-top: .6%;
  color: blue;
}
  .home_main_category_body{
    width: 21.3%;
    height: 38%;
    padding: .5% 1.83%;
    float: left;
  }
  .home_main_category_image{
    width: 90%;
    height: 63%;
    margin-left: 6%;
    margin-top: 5%;
    border-radius: 50%;
    background-color: white;
  }
  .home_main_category_image img{
    width: 100%;
    height: 100%;
  }
  .home_main_category_name{
    width: 90%;
    height: 10%;
    margin-top: 5%;
    padding: 3%;
    font-size: 80%;
    color: black;
    text-align: center;
  }

  /* for budget bazaaar*/
  .home_main_budget_bazar{
    padding: 10px;
    margin-top: 20px;
    background-color: #7F40BE;
    border-radius: 5px;
  }
  .budget_bazaar_head{
  height: 20%;
  width: 100%;
  border-radius: 6px;
}
.swiper-container.home_main_budget{
    height: 200px;
    width: 95%;
    margin: 2% 2.5%;
    background-color: white;
}
.home_budget_image{
  height: 50%;
  width: 90%;
  margin-left: 5%;
}
.home_budget_image img{
  width: 100%;
  height: 100%;
border: 0px solid #000000;
}
.home_budget_name{
  height: auto;
  padding:3%;
  font-weight: bold;
  font-size: 100%;
}
.home_budget_price{
  height: auto;
  padding:1%;
  color: blue;
  font-weight: bold;
  font-size: 100%;
}
.swiper-container.home_main_budget button{
    border: none;
    font-weight: 700;
    border-radius: 3px;
    color: white;
    background-color: purple;
    margin-top: 5px;
    padding: 6px 15px 6px 15px;
}
.swiper-button-next.home_main_budget{
  height: 8%;
  width: 1%;
  padding: 1%;
  background-color: #7F40BE;
  margin-top: -2%;
  margin-right: -1%;
}
  
/* festive offer slides data*/
.home_main_festive_offer{
    position: relative;
    background-color: yellow;
    border: 1px solid rgb(95, 95, 95);
    height: 250px;
    margin: 10px 1%;
  }
  .home_main_festive_offer_name{
    display: inline-block;
    position: absolute;
     width: 10%;
    height: 250px;
    background-color: red;
  }
  .home_main_festive_offer_name p{
    transform: rotate(270deg);
     margin-top: 103px;
     margin-left: -288%;
     width: 230px;
     font-size: 18px;
     font-weight: bold;
     color: white;
     text-align: center;
     background-color: #2999e4;
     height: auto;
     padding: 30% 29%;
  }
  .swiper-container.home_festive_swiper{
    height: 250px;
    width: 88%;
    margin-left: 12%;
    background-color: white;
}
.swiper-container.home_festive_swiper button{
  border: none;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    background-color: purple;
    margin-top: 5px;
    padding: 6px 15px 6px 15px;

}
.home_festive_head{
   height: 15%;
  width: 100%;
}
.home_festive_offer_image{
  height: 45%;
  width: 50%;
  margin-left: 25%;
}
.home_festive_offer_image img{
  width: 100%;
  height: 100%;
border: 0px solid #000000;
}
.home_festive_offer_name{
  height: auto;
  padding:3%;
  font-weight: bold;
  font-size: 100%;
}
.home_festive_offer_price{
  height: auto;
  padding:1%;
  color: blue;
  font-weight: bold;
  font-size: 100%;
}
/* under budget */
.home_main_diffrent_set{
    margin-top: 10px;
    height: auto;
    background-color: #64b5f6;
}
.home_main_diffrent_set_heading{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 3% 0px;
    width: 100%;
    background-color:#64b5f6;
  }
.home_main_diffrent_subhead{
  height: 10%;
  width: 100%;
  border-radius: 6px;
}
.home_main_diffrent_set_body1{
    background-color:  #4db6ac;
    height: 350px;
    width: 100%;
}
.home_main_diffrent_set_body2{
    height: 350px;
    width: 100%;
}
.home_main_diffrent_set_container{
    height: 80%;
    width: 80%;
    margin: 5% 10%;
    background-color: gray
}
.home_main_diffrent_set_container_child{
    width: 48%;
    float: left;
    height: 48%;
    margin-left:1.5%;
    margin-top: 1.5%;
    background-color: white;
}
.home_main_diffrent_set_container_child img{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    height:55%;
}
.home_main_diffrent_set_container_child p{
  font-size: 100%;
  height: 15%;
  width: 100%;
  margin:0%;
  text-align: center;
    
}
.home_main_diffrent_set_container_child_price {
    width: 50%;
    margin-left: 23%;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px; 
    height: 13%;
    margin-top: 1%;
    padding: 2%;
    background-color: lightblue;
}