body{
	padding: 0;
	margin: 0;
}

.headd{
	height: 130px;
	width: 352px;
    margin-top: 20px;
	
}
.image{
	height: 130px;
	width: 174px;
	float: left;
	
}
.named {
	height: 130px;
	width: 174px;
	float: right;
}
.name1{
	width: 176px;
	height: 40px;
	margin-top: 8px;
	font-size: 35px;
	text-align: center;
}
.email{
	width: 176px;
	height: 15px;
	margin-top: 8px;
	font-size: 13px;
	text-align: center;
}
.editarea{
	width: 174px;
	margin-top: 10px;
	height: 30px;
	font-size: 12px;
}
.viewpro{
	color: red;
	height: 20px;
	width: 120px;
float: left;
padding-top: 5px;
margin-left: 15px;
	text-align: center;
	font-size: 12px;
	border-radius: 20px;
    border: 0.5px solid #727C8E;
}
.img1{
	height: 25px;
	width: 25px;
	float: left;
}
.detailhalf1{
	height: 154px;
	width: 350px;
	border: 1px solid black;
	margin-left: 2.5px;
	margin-top: 35px;
}
.statement,.changeadd,.order{
	height: 50px;
	width: 354px;
	border: 0.5px solid black;
}
.text{
	float:left;
	width:200px;
	height:100px;
	
}
.img{
	height: 20px;
width: 20px;
float: left;

margin-left: 200px;}
.detailhalf2{
	height: 254px;
	width: 350px;
	margin-left: 2.5px;
	margin-bottom: 70px;
	border: 1px solid black;
	margin-top: 0px;
}
.setting,.contectus,.terms,.cpassword,.logout{
	height: 50px;
	width: 354px;
	float: left;
	border: 0.5px solid black;
}

.bottom{
	height: 60px;
	width: 354px;
	bottom: 0;
	background: white;
	position: fixed;
	margin-left: 2px;
	border: 1px solid black;
	float: left;
}
.additem,.inventory,.orderlist,.myaccount{
	height: 60px;
	width: 88.5px;
	font-size: 13px;
	
	float: left;
}
.img{
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 24.25px;
}
.text{
	height: 10px;
	width: 88.5px;
	float: left;
	padding-top: 1.5px;
	text-align: center;
}
.statement1{
	width:350px;
	height:50px;
	border:0.5px solid black;
}
.text1{
	width:290px;
	height: 50px;
	
	float:left;
}
.text1 h3{
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 0px;
}
.img2{
	width:50px;
	height: 50px;
	
	float:left;
	margin-left: 5px;
}
.img2 img{
	width:20px;
	height:20px;
	margin-left: 15px;
	margin-top: 12px;
}