body{
	padding: 0;
	margin: 0;
}
.apka_head{
 width:360px;
 height:95px;
 background-color: #B779D8;
}
.apka_first{
 width:360px;
 height:50px;
}
.sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 2;
  background-color: whitesmoke; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 2px 8px 4px 4px;
  text-decoration: none;
  font-size: 18px;
  color: crimson;
  display: block;
  transition: 0.3s;
  float: left;
}
.sidenav img{
float: left;
width: 25px;
height: 25px;
}
.apka_bar_sidenav_detail{
	width:260px;
	height:20px;
	margin-left: 15px;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  margin-top: -10px;
  color: red;
  right: 10px;
  font-size: 36px;
  margin-left: 60px;
}
.apka_bar_up{
	position: absolute;
	width:260px;
	height: 150px;
	margin-top: -60px;
	background-color: dodgerblue;

}
.apka_bar_detail{
	width:170px;
	height: 110px;
	margin-top: 30px;
	margin-left: 40px;
}
.apka_bar_detail img{
	margin-left: 60px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.apka_bar_text{
	font-size: 18px;
	text-align: center;
	color: white;
}
.nav{
  display: block;
  float: left;
}
span #a{
  margin-top: 15px;
}
span .bar{
  display: block;
     width: 25px;
     height: 5px;
     background: #151719;
     margin-top: 3px;
     margin-left: 5px;
}

.apka_dis{
	width: 60px;
	height:45px;
    margin: 3px 0px 0px 10px;
}
.apka_head_dis{
	width: 30px;
	height:30px;
	margin-top: 8px;
	margin-left: 17px;
}
.apka_head_notify{
	width: 30px;
	height:30px;
	margin-left: 110px;
	margin-top: 10px;
}
.apka_head_cart{
	width: 50px;
	height:37px;
	margin-top: 5px;
	margin-left: 10px;
}
.apka_search{
	width:340px;
	height: 30px;
	background-color: white;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 5px;
}
.back{
	width: 99.5%;
	height: 40px;
	margin-left: 0.25%;
	float: left;
	background: #2874A6;
}
.back1{
	height: 75%;
	width: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.back1 img{
	height: 100%;
	width: 100%;
}
.mycart{
	height: 80%;
	padding-top: 5px;
	width: 150px;

	float: left;
	text-align: center;
	color: white;
	font-size: 25px;
}
.remove_all{
	height: 60%;
	width: 100px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	border-radius: 5px;
	padding-top: 6px;
	text-align: center;
	color: red;
	background: white;
}
.product{
	width: 98%;
	height: 150px;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
    box-shadow: 1px 1px 1px 1px #D7D9DA;
    border-radius: 10px;
}
.product_top{
	width: 100%;
	height: 25px;
}
.shop_name{
	width: 250px;
	float: left;
	height: 20px;
	color:purple;
	margin-left: 5px;
	font-size: 18px;
}
.open{
	width: 65px;
	float: right;
	height: 20px;
	color: green;
	font-size: 20px;
}
.product_img{
	height: 110px;
	margin-left: 10px;
	width: 100px;
	float: left;
}
.product_img img{
	height: 120px;
	width: 100px;
	border-radius: 70%;
}
.product_name{
	height: 30px;
	margin-left: 5px;
	font-size: 20px;
	width: 180px;
	float: left;
	
}
.product_price{
	height: 30px;
	margin-left: 5px;
	font-size: 20px;
	width: 180px;
	float: left;
	color: green;
	
}
.quantity{
	height: 30px;
	width: 220px;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
	float: left;
	
}

		.count_section{
			height: 22px;
			width: 66px;
			margin-left: 80px;border:1px solid black;
			float: left;
			margin-top: -20px;
			border: 1px solid black;
			float: left;
		}
		.count{
			height: 15px;
			width: 20px;
			padding-bottom: 5px;
			text-align: center;
			border: 1px solid black;
			float: left;
		}
		.decrease,.increase{
			height: 20px;
			width: 20px;
			border: 1px solid black;
			float: left;
		}
		.increase h3{
			font-size: 20px;
			height: 20px;
			text-align: center;
			width: 20px;
			margin-top: -2px;
			
		}
		.decrease h3{
			font-size: 20px;
			height: 20px;
			margin-top: -4px;
			text-align: center;
			width: 20px;
			
		}
.delete{
	height: 30px;
	width: 30px;
	float: right;
	
	margin-top: -25px;
	margin-right: 5px;
}
.delete img{
	height: 100%;
	width: 100%;
}
.bottom{
	height: 40px;
	width: 99.5%;
	margin-left: 0.25%;
	float: left;
	bottom: 0;
}
.shop_more{
	height: 75%;
	width: 50%;
	padding-top: 10px;
	float: left;
	text-align: center;
}
.check_out{
	height: 75%;
	width: 50%;
	padding-top: 10px;
	float: left;
	text-align: center;
	color: white;
	background: #13BEE8;
}
.bottom1{
	height: 40px;
	width: 99.5%;
	margin-left: 0.25%;
	float: left;
	bottom: 0;
	background: #E12522;
	color: white;
}