.main{
	height: 700px;
	width: 100%;
	margin-top: 50px;
	
}
.main1{
	height: 700px;
	width: 45%;
	margin-left: 15px;
	
	float: left;
}
.main2{
	height: 700px;
	width: 45%;
	float: left;
	margin-left: 5px;
	
}
.img1{
	height: 100px;
	margin-top: 50px;
	width: 80px;
	border-radius: 4px;
	margin-left: 25px;
	border: 0.5px solid blue;
}
.img2{
	height: 100px;
	margin-left: 30px;
	width: 80px;
	margin-top: 3px;
	border-radius: 4px;
	border: 0.5px solid black;
}
.img1 img{
	height: 100px;
	width: 80px;
	border-radius: 4px;
}
.img2 img{
	height: 100px;
	width: 80px;
	border-radius: 4px;
}

.img3{
	width: 450px;
	height: 430px;
	
	float: right;
border-radius: 8px;
	margin-top: -205px;
	margin-right: 40px;
	box-shadow: 1px 1px 1px 1px grey;
}
.img3 img{
	width: 450px;
	height: 430px;
	border-radius: 8px;
}
.addtocart{
	width: 450px;
	height: 40px;
	text-align: center;
	color: white;
	font-size: 20px;
margin-top: 10px;
border-radius: 4px;
	background: #3888F5;
	float: right;
	margin-right: 40px;
}
.addtocart img{
	height: 30px;
	width: 30px;
	margin-left: 15px;
	margin-top: 5px;
}
.name{
	height: 35px;
	width: 300px;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	
}
.price{
	height: 35px;
	width: 300px;
	
}
.present{
	height: 35px;
	width: 50px;
	float: left;
	color: red;
	margin-left: 60px;
	font-size: 25px;
	
}
.pre{
	height: 25px;
	width: 148px;
	float: left;
	padding-top: 7px;
	
	}
.offer10{
	height: 30px;
	width: 120px;
	font-size: 15px;
	margin-left: 60px;
	
}
.offer10 img{
	height: 20px;
	width: 20px;
	margin-top: 2.5px;
	margin-left: 5px;

}
.Selectquentity{
	height: 20px;
	width: 120px;
	margin-left: 60px;
	
	margin-top: 10px;

}
.l3{
	height: 22px;
	width: 66px;
	margin-left: 80px;
	margin-top: 10px;
	
	float: left;
}
.l0{
	height: 20px;
	width: 20px;
	
	text-align: center;

	float: left;
}
.l2,.l1{
	height: 20px;
	width: 20px;
	
	background: #2999E4;
	color: white;
	
	float: left;
}
.l1 h3{
	font-size: 20px;
	height: 20px;
	text-align: center;
	width: 20px;
	margin-top: -2px;
	
}
.l2 h3{
	font-size: 20px;
	height: 20px;
	margin-top: -4px;
	text-align: center;
	width: 20px;
	
}
.sallerinfo{
	height: 20px;
	width: 150px;
	
	margin-top: 55px;
	margin-left: 60px;
}
.detail{
	margin-top: 10px;
}
.h1,.h2{
	height: 80px;
	width: 250px;
	box-shadow: 1px 1px 1px 1px gray;
	border-radius: 5px;
	margin-left: 60px;

}
.h1 img{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}
.location,.name2{
	height: 15px;
	margin-left: 55px;
	width: 120px;
	margin-top: 10px;
	text-align: center;
	font-size: 10px;
	
}

.location img{
	height: 10px;
	width: 10px;
	margin: 2.5px;
}
.open,.call{
	height: 15px;
	width: 40px;
	margin-top: -25px;
	margin-right: 8px;
	font-size: 15px;
	color: green;
	
	float: right;
}
.call{
	height: 15px;
	width: 40px;
	margin-top: -5px;
	margin-right: 8px;
	font-size: 15px;
	color: green;
	float: right;
}
.call img{
	height: 10px;
	width: 10px;
	margin-top: -15px;
	float: right;
}
.h2{
	height: 80px;
	width: 250px;
	float: right;
	border-radius: 5px;
	margin-right: 30px;
	margin-top: -80px;

}
.applycoupan{
	color: green;
	margin-left: 15px;
	font-size: 12px;
}
.rad{
	font-size: 15px;
	color: green;
	margin-left: 15px;
	margin-top: 10px;
}
.h2 img{
	height: 45px;
	width: 45px;
	float: right;
margin-top: -40px;	

}
.productde{
	margin-left: 60px;
	margin-top: 20px;
}
.detail1{
	margin-left: 60px;
	height: 100px;
	width: 450px;
	margin-top: 10px;
	border: 0.5px solid grey;
}
.paremeters{
	height: 99px;
	width: 150px;
	border: 0.5px solid grey;
}
.p1,.p2,.p3{
	height: 15px;
	width: 130px;
	float: right;
	margin-top: 5px;
}
.p1{
	height: 15px;
	width: 130px;
	float: right;
	margin-top: 15px;
}
.discription{
	margin-left: 60px;
	height: 30px;
	width: 450px;
	margin-top: 0px;
	border: 0.5px solid grey;
}
.dis{
	height: 29px;
	width: 150px;
	border: 0.5px solid grey;
}
.veiwmore{
margin-left: 60px;
	height: 25px;
	padding-top: 5px;
	width: 450px;
	color: red;
	margin-top: 0px;
	border: 0.5px solid grey;
}
.Rating{
	margin-left: 60px;
	margin-top: 10px;
}
.tt1{
	height: 25px;
	width: 99.5%
	margin:2px;
	background: #1499A8;
	margin-top: 2px;
	font-size: 20px;
	
	
}
.area1{
	height: 200px;
	width: 99.5%;
	margin-left: 0px;
	margin: 2px;

	
}
.rightmain{
	height: 470px;
	margin-left:10px;
	margin-top: 15px;
	width: 100%;
	float: left;
	margin-right: 10px;
	background: #1499A8;
}
.item1{
	height: 180px;
	width: 200px;
	
	margin: 10px;
	background: white;
	float: left;
}
.rate{
	height: 12px;
	width: 35px;
	float: right;
	margin: 4px;
	
	color: white;
	font-size: 11px;
	background: red;
	border-radius: 20px;
}
.rate img{
	float: left;
	height: 10px;
	margin-left: 2px;
	width: 10px;

}
.img1{
	height: 100px;
	width: 80px;
	
	margin-left: 50px;
	margin-top: 20px;
}
.img1 img{
	height: 100px;
	width: 80px;
}
.rates,.name3{
	width: 100%;
	height: 20px;
	
	text-align: center;
	margin-top: 4px;
}